# Task testing — Test results

A test run can result in any of the following outcomes:

### Successful execution

When the task completes successfully, the results panel displays the process variables _after_ execution. This includes variables created by the task, mapped through defined output mappings.

![Testing success](./img/task-testing/testing-success.png)

### Task incident

If an incident occurs during execution, you’ll see its details along with the process variables.

![Testing incident](./img/task-testing/testing-incident.png)

### Error

If the task execution fails due to an error, the response message is displayed.


## Related

- [Test a task in Camunda Hub](https://docs.camunda.io/docs/next/components/hub/workspace/modeler/validation/task-testing)
- [Learn about task testing concepts](https://docs.camunda.io/docs/next/components/modeler/task-testing)
- [Working with variables](https://docs.camunda.io/docs/next/components/concepts/variables)

---
Source: https://docs.camunda.io/docs/next/components/modeler/desktop-modeler/task-testing
